<!doctype html>
<html lang="en" class="no-js">
<% include ../partials/head %>
<body>
<% include ../partials/header %>
<div class="cd-tabs">
	<nav>
		<ul class="cd-tabs-navigation">
			<li><a data-content="home" class="selected" href="#0">Home</a></li>
			<li><a data-content="broadcast" href="#0">Broadcast</a></li>
			<li><a data-content="users" href="#0">Users</a></li>
			<li><a data-content="log" href="#0">Log</a></li>
			<li><a data-content="feedback" href="#0">Feedback</a></li>
			<li><a data-content="settings" href="#0">Settings</a></li>
		</ul> <!-- cd-tabs-navigation -->
	</nav>

	<ul class="cd-tabs-content">
	<% include ../partials/content/home %>
	<% include ../partials/content/broadcast %>
	<% include ../partials/content/users %>
	<% include ../partials/content/log %>
	<% include ../partials/content/feedback %>
	<% include ../partials/content/settings %>
	</ul>
</div>
<% include ../partials/footer %>
</body>
</html>