<li data-content="broadcast">
	<p>Message to broadcast?</p>
	<form id="broadcastForm" action="broadcast" method="GET">
		<div>
			<textarea name="bcastmsg" rows="10%" cols="60%"></textarea>
		</div>
		<div>
			<button type="submit">Submit</button>
		</div>
	</form>
</li>