<header>
	<section class="cd-intro">
		<div class="cd-intro-content mask-2">
			<div class="content-wrapper">
				<div>
					<h1>Welcome to Cinnabot,</h1>
					<p> what would you like to do today?</p>
				</div>
			</div>
		</div>
	</section>
</header>